body {
  background-color: #041122;
}

p {
  color: #ffffff;
}

h1 {
  padding-left: 20px;
  color: #ffffff;
  font-family: Arial;
  font-size: 22px;
  margin-top: 50px;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-align: right;
  float: right;
  margin-right: 40px;
  font-family: Arial;
  font-size: 22px;
  margin-top: 50px;
}

input {
  border-style: none;
  border-radius: 50px;
  background-color: #259073;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
}

.container_principal {
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
}

.element1 {
  padding-top: 200px;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
}

.element2 {
  border-radius: 50%;
  margin-left: 50vw;
  background-color: #259073;
  margin-top: 17vw;
  width: 500px;
  height: 500px;
  position: absolute;
}

.logo {
  width: 200px;
  height: 200px;
  margin-left: 11vw;
  margin-top: 11vw;
  position: absolute;
}
